.navbar-default { background-color: #FF7272; 
}
.jumbotron { background-image: url(http://www.artmoth.com/images/content/backgrounds/54-1279493402-bg-hedgehogs.gif);}

ul {list-style-type: none;}
body {background-color: #EBC2FF}


p {font-family: 'Josefin Sans', sans-serif;
font-size: 20px;}